<br/>
<%= form_for @last_fm, method: :get do |f| %>
	<div class="input-group">
		<%= f.text_field :query, class: "form-control", placeholder:"Search Last.FM for your favorite artist..." %>
		<span class="input-group-btn">
			<%= f.submit "Search", class: "btn btn-primary" %>
		</span>
	</div>
<% end %>	
<hr/>
<!-- Search results -->
<table class="table table-striped table-bordered table-hover">
	<thead>
        <tr>
            <th>Artist</th>
            <th>Vote!</th>
        </tr>
    </thead>
	<tbody>
		<% unless @last_fm.results.nil? %>
			<% @last_fm.results.each do |result| %>
				<%= render 'result', result: result %>
			<% end %>
		<% end %>
	</tbody>
</table>