<div class="jumbotron">
	<h2>
		Haven - LastFM demo app
	</h2>
	<p>
		A small demo project using the Last.FM API to vote for your favorite artists.
	</p>
	<p>
		<%= link_to "Get voting!", 'last_fms#show', class:"btn btn-primary" %>
	</p>
</div>